.header {
  width: 100%;
  background-image: url(../../img/header1.jpeg);
  padding: 20% 10%;
  background-size: cover;
  text-align: center;

  .header__content {
    h1 {
      font-family: "Dancing Script", cursive;
      font-size: 30px;
      margin-bottom: 8px;
    }
    h3 {
      span {
        font-size: 14px;
      }
    }
  }
}
