.product {
  padding: 0.7rem;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  .product__img-container {
    width: 130px;
    height: 120px;
    margin-right: 1rem;
    img {
      width: 100%;
    }
  }
  .product__details {
    font-size: 14px;
    .product__name {
      font-weight: 500;
      margin-bottom: 0.4rem;
    }
    .product__price {
      margin-bottom: 0.4rem;
      font-weight: 500;
    }
    .product__desc {
      font-size: 12px;
      margin-bottom: 0.6rem;
    }
    .product__button {
      color: #333;
      width: 50%;
      padding: 0.3rem 0;
      cursor: pointer;
      border: none;
      background-color: rgb(218, 211, 211);
      &:hover {
        background-color: rgb(87, 85, 85);
        color: #fff;
      }
      &:disabled {
        cursor: default;
        padding: 0.4rem 1rem;
        position: relative;
        top: -50%;
        left: 10%;
        transform: rotate(345deg);
        width: 70%;
        color: rgb(255, 0, 0);
        font-weight: 400;
        background-color: rgb(255, 255, 255);
        border: 1px solid #333;
      }
    }
  }
}
