.container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 1.5rem;
  .scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    padding: 1rem;

    h2 {
      font-weight: 500;
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }
  }
}

// ========== Media Queries ==========
@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    div.scroll {
      display: none;
    }
    .scroll {
      overflow-y: auto;
      overflow-x: auto;
      height: auto;
    }
  }
}
